<div class="contenedor">
  <form  [formGroup]="grantForm" (ngSubmit)="generarGrants()">
    
    <div class="form-group">
      <label for="esquema">Esquema</label>
      <select formControlName="esquema" class="form-control" name="esquema">
        <option *ngFor="let esquema of esquemas" [ngValue]="esquema">{{esquema}}</option>
      </select>
    </div>


    <div class="form-group">
      <label for="tabla">Tabla</label>
      <input [ngClass]="{'is-invalid':nombreTabla.invalid && (nombreTabla.dirty || nombreTabla.touched)}" pattern="[a-zA-Z_]*" formControlName="nombreTabla" class="form-control" type="text" placeholder="Ingrese la tabla a generar" required>
      <div class="invalid-feedback">
          Dale.. Crack...
      </div>
    </div>

    <div class="form-group">
      <label for="tipoTabla">Tipo de tabla</label>
      <select formControlName="tipoTabla" class="form-control" >
        <option *ngFor="let tipo of tiposDeTablas" [ngValue]="tipo" >{{tipo}}</option>
      </select>
    </div>

    <div class="form-group">
      <div class="form-check form-check-inline">
        <input formControlName="aplicacion" class="form-check-input" type="checkbox">
        <label class="form-check-label" for="inlineCheckbox1">Aplicacion</label>
      </div>
      <div class="form-check form-check-inline">
        <input formControlName="batch" class="form-check-input" type="checkbox" >
        <label class="form-check-label" for="inlineCheckbox2">Batch</label>
      </div>
    </div>
    <button type="submit" [disabled]="!grantForm.valid" class="btn btn-primary">Generar</button>
  </form>
</div>
<div *ngIf="mostrarResultado" class="resultado">

    <div class="jumbotron jumbotron-fluid">
        <div class="container">
          <h1 class="display-9">Habemus Grants!</h1>
          <p *ngFor="let grant of grants" class="lead">{{grant}}</p>
        </div>
      </div>
    
</div>