/* You can add global styles to this file, and also import other style files */
body{
    background-color: #fafafa!important;
}

.btnSubmit{
    background-color: #c0def3!important;
    color: black!important;
    border-color: #c0def3!important;
}

.btnSubmit:disabled{
    background-color: #e3f2fd!important;
    border-color: #e3f2fd!important;
}

.btnSubmit:enabled:hover{
    background-color: #a6d2f0!important;
    border-color: #a6d2f0!important;
}

.btnSubmit:enabled:active{
    background-color: #89c8f1!important;
    border-color: #89c8f1!important;
}


/*INPUT BUSCADOR*/

.search {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
            transform: translateX(-50%) translateY(-50%);
  }
  .search * {
    outline: none;
    box-sizing: border-box;
  }
  .search__wrapper {
    position: relative;
  }
  .search__field {
    width: 50px;
    height: 50px;
    color: transparent;
    font-family: Lato, sans-serif;
    font-size: 1.35em;
    padding: 0.35em 50px 0.35em 0;
    border: 1px solid transparent;
    border-radius: 0;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
  }
  .search__field:focus {
    border-bottom-color: #ccc;
    width: 50vw;
    color: #2b2b2b;
    cursor: default;
  }
  .search__field:focus ~ .search__icon {
    background-color: transparent;
    cursor: pointer;
    pointer-events: auto;
  }
  .search__icon {
    position: absolute;
    top: 0;
    right: 0;
    background-color: #e9f1f4;
    width: 50px;
    height: 50px;
    font-size: 1.35em;
    text-align: center;
    border-color: transparent;
    border-radius: 50%;
    pointer-events: none;
    display: inline-block;
    transition: background-color 0.2s ease-in-out;
  }
  .search__field::-webkit-input-placeholder {
    position: relative;
    top: 0;
    left: 0;
    transition-property: top, color;
    transition-duration: .1s;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-perspective: 1000;
    perspective: 1000;
  }
  .search__field:-moz-placeholder {
    position: relative;
    top: 0;
    left: 0;
    transition-property: top, color;
    transition-duration: .1s;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-perspective: 1000;
    perspective: 1000;
  }
  .search__field::-moz-placeholder {
    position: relative;
    top: 0;
    left: 0;
    transition-property: top, color;
    transition-duration: .1s;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-perspective: 1000;
    perspective: 1000;
  }
  .search__field:-ms-input-placeholder {
    position: relative;
    top: 0;
    left: 0;
    transition-property: top, color;
    transition-duration: .1s;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-perspective: 1000;
    perspective: 1000;
  }
  .search__field::-webkit-input-placeholder[style*=hidden] {
    color: #83b0c1;
    font-size: .65em;
    font-weight: normal;
    top: -20px;
    opacity: 1;
    visibility: visible !important;
  }
  .search__field:-moz-placeholder[style*=hidden] {
    color: #83b0c1;
    font-size: .65em;
    font-weight: normal;
    top: -20px;
    opacity: 1;
    visibility: visible !important;
  }
  .search__field::-moz-placeholder[style*=hidden] {
    color: #83b0c1;
    font-size: .65em;
    font-weight: normal;
    top: -20px;
    opacity: 1;
    visibility: visible !important;
  }
  .search__field:-ms-input-placeholder[style*=hidden] {
    color: #83b0c1;
    font-size: .65em;
    font-weight: normal;
    top: -20px;
    opacity: 1;
    visibility: visible !important;
  }