/* You can add global styles to this file, and also import other style files */
body{
    background-color: #fafafa!important;
}

.btnSubmit{
    background-color: #c0def3!important;
    color: black!important;
    border-color: #c0def3!important;
}

.btnSubmit:disabled{
    background-color: #e3f2fd!important;
    border-color: #e3f2fd!important;
}

.btnSubmit:enabled:hover{
    background-color: #a6d2f0!important;
    border-color: #a6d2f0!important;
}

.btnSubmit:enabled:active{
    background-color: #89c8f1!important;
    border-color: #89c8f1!important;
}
