.contenedorformulario{
    width:40%;
}

.resultado{
  width:50%;
  float:right;
  margin-left:10px;
}

#grantsGenerados{
    margin-bottom:10px;
}

.leyenda{
    margin-top: 5px;
    margin-bottom: 5px;
}